body{
    font-family: 'Noto Sans JP',sans-serif;  
    font-size: clamp(15px, 1vw, 17px);  
    color:404040;
}

.navbar{
    text-decoration: none;
    color:aliceblue;
}

/*パンくずリスト向け*/
.breadcrumb {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em; /* 記号の左右の余白 */
    color: #777; /* 記号の色 */
  }

/*画面サイズ1300px以下の場合に適用*/
@media only screen and (max-width: 1300px){
    img.float_left{
    margin-left: 70px;
    width:50%; 
    max-width:100px;
    margin: 0 20px 10px 0;
    }
    }

/*画面サイズ1100px以下の場合に適用*/
@media only screen and (max-width: 1100px){
    img.float_left{
    margin-left: 50px;
    width:50%; 
    max-width:100px;
    margin: 0 15px 5px 0;
    }
    }

/*画面サイズ590px以下の場合に適用*/
@media only screen and (max-width: 590px){
img.float_left{
margin-left: 20px;
width:60%; 
}
}