body{
    font-family: 'Noto Sans JP',sans-serif;  
    font-size: clamp(15px, 1vw, 17px);  
    color:404040;
}

/*ナビゲーションバー部装飾*/
a.nav-link{
    text-decoration: none;
    color: aliceblue;
}

/*パンくずリスト向け*/
.breadcrumb {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em; /* 記号の左右の余白 */
    color: #777; /* 記号の色 */
  }

/*本文*/
.main{
    margin: 0 auto;
    max-width: 800px;
    padding: 0 10px;
}

a{
    text-decoration: none;
}

p{
    margin:0,0,30px,0;
    padding: 0,30px,30px,0;
}

/*本文装飾用*/
h2.display-4{
    padding: 0 0 20px 0;
}

p.syo{
 font-size: 0.9em;
 margin: 0,0,0,60px;
}

/*画像関連(PC向け)*/
img.card-img-top{
    width: 55%;
    height: 65%;
    margin: auto;
    padding: auto;
   }

/*フッタ部*/
footer{
    width:100%;
    color:aliceblue;
    font-size: 0.8em;
    background-color:#777;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

/*SP向け：画面サイズ590px以下の場合に適用*/
@media only screen and (max-width: 590px){
/*hタグ部*/
h4{
        font-size: 1.2em;
    }
/*本文*/
p{
    font-size:1em;
}
p.lead{
    font-size: 1.2em;
}

/*画像等*/
img.card-img-top{
 width: 70%;
 height: 70%;
 margin: auto;
 padding: auto;
}

/*プロフ部*/
img.jiga{
    width: 65%;
    height: 65%;
    margin: auto;
    padding: auto;
}
/*ポスター等印刷物関連ネタ*/
img.poster{
    width: 65%;
    height: 65%;
    margin: auto;
    padding: auto;
}
}